#!/bin/sh
##############################
# Rmt Firewall configuration #
##############################

# Enable support of statefull firewall
IPFW_statefull="0"
# Enable support of multiple WANs (load balancing/failover)
IPFW_multiwan="1"

##########################
# WANs
##########################
IPFW_ofib="0"
IPFW_oif="igb0"
IPFW_onet="10.0.0.0/24"
IPFW_oip="10.0.0.1"
IPFW_onet_6="::/64"
IPFW_oip_6="::1"
IPFW_nat="YES"
IPFW_nat_params=""
IPFW_nat_params="${IPFW_nat_params} log unreg_only"
IPFW_nat_params="${IPFW_nat_params} redirect_port tcp 192.168.0.1:1194 41194" # OpenVPN

IPFW_ofib2="1"
IPFW_oif2="igb1"
IPFW_onet2="192.168.111.0/24"
IPFW_oip2="192.168.111.111"
#IPFW_onet2_6=""
#IPFW_oip2_6=""
IPFW_nat2="YES"
IPFW_nat2_params=""
IPFW_nat2_params="${IPFW_nat2_params} log unreg_only"

#IPFW_ofib3="2"
#IPFW_oif3="lte1"
#IPFW_onet3="192.168.112.0/24"
#IPFW_oip3="192.168.112.111"
#IPFW_onet3_6=""
#IPFW_oip3_6=""
#IPFW_nat3="YES"
#IPFW_nat3_params=""
#IPFW_nat3_params="${IPFW_nat3_params} log"

#########################
# LANs
#########################
IPFW_iif="igb2"
IPFW_inet="192.168.0.0/24"
IPFW_iip="192.168.0.254"
IPFW_inet_6="::/64"
IPFW_iip_6="::254"

#IPFW_iif2="igb2"
#IPFW_inet2="192.168.1.0/24"
#IPFW_iip2="192.168.1.254"
#IPFW_inet2_6="::/64"
#IPFW_iip2_6="::254"

#IPFW_iif3="re0"
#IPFW_inet3="192.168.2.0/24"
#IPFW_iip3="192.168.2.254"
#IPFW_inet3_6="::/64"
#IPFW_iip3_6="::254"

IPFW_WAN_6=""
if [ -n "${IPFW_oip_6}" ]; then
 IPFW_WAN_6="1"
fi
if [ -n "${IPFW_oip2_6}" ]; then
 IPFW_WAN_6="1"
fi
if [ -n "${IPFW_oip3_6}" ]; then
 IPFW_WAN_6="1"
fi
IPFW_WAN_4=""
if [ -n "${IPFW_oip}" ]; then
 IPFW_WAN_4="1"
fi
if [ -n "${IPFW_oip2}" ]; then
 IPFW_WAN_4="1"
fi
if [ -n "${IPFW_oip3}" ]; then
 IPFW_WAN_4="1"
fi
IPFW_LAN_6=""
if [ -n "${IPFW_iip_6}" ]; then
 IPFW_LAN_6="1"
fi
if [ -n "${IPFW_iip2_6}" ]; then
 IPFW_LAN_6="1"
fi
if [ -n "${IPFW_iip3_6}" ]; then
 IPFW_LAN_6="1"
fi
IPFW_LAN_4=""
if [ -n "${IPFW_iip}" ]; then
 IPFW_LAN_4="1"
fi
if [ -n "${IPFW_iip2}" ]; then
 IPFW_LAN_4="1"
fi
if [ -n "${IPFW_iip3}" ]; then
 IPFW_LAN_4="1"
fi

if [ "${XYZ}" != "info" ]; then

########################################
# WAN IN dstport blocked
########################################
IPFW_wan4_in_dstports=""
#IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 53 853 953" # DNS
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 67 68" # DHCP
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 546 547" # DHCPv6
#IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 520 521" # RIP, RIPng
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 25 465 587" # SMTP
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 110 995" # POP3, POP3S
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 143 993" # IMAP, IMAPS
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 80" # HTTP
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 443"   # HTTPS
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 3128"  # Squid
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5678"  # Mikrotik discovery
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5222"  # Apple
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5223"  # Teamspeak
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5228"  # Viber
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 20 21 990" # FTP, FTPS
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 22"    # SSH
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 515 631 9100" # Printer
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 161 162 987" # SNMP
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 135"   # RPC
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 137 138 139 445" # Samba
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 389 636" # LDAP
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 1194"  # OpenVPN
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 1723"  # PPTP
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 1701 500 4500" # L2TP
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 8291 8292" # Mikrotik WinBox
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 635 548 944 860 3260 973" # NFS/AFS/iSCSI
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 514"   # Syslog
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 902 903 904 8200" # VMware
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 3493"  # NUT
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 3544"  # Teredo
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 808"   # CCproxy
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 4021 4025" # DSC Alarm
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 6851 6861" # TOR-like net
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 1812 1813" # RADIUS
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 2082 2083" # cPanel
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5666 5667" # Nagios
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5000"  # Synology Management
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 2195 2196" # Apple Push
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 11211" # memcached
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 32400" # Plex
#IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 10050 10051 10052" # Zabbix
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 3306"  # MySQL, MariaDB
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 1433 1434"  # MS SQL
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5432"  # PG SQL
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 1521"  # Oracle
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 8086"  # InfluxDB
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 523"   #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 1526"  #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 4333"  #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 7210"  #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 2483 2484" #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 2638"  #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 3050"  #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 27017" #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 3389"  # RDP
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5900 5901" # VNC
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5938"  # TeamViewer
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 3283"  #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5631"  #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5632"  #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 7070"  #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5190"  # Google Play
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5050"  # Apple Messenger
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5060 5061" # SIP
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 8767"  #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 4244"  #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5242 5243" # Viber
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 23399" #
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5353"  # mDNS
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 5355"  # LLMNR
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 1883 8883" # MQTT
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 1883 8883" # MQTT
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 8333" # Bitcoin
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 30303" # Ethereum
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 9000"
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 8181" # Dlink vulnerable
IPFW_wan4_in_dstports="${IPFW_wan4_in_dstports} 19 23 26 37 69 70 79 102 111 135 179 222 502 513 623 666 992 32764" # Others
IPFW_wan6_in_dstports="${IPFW_wan4_in_dstports}"

########################################
# WAN OUT dstport blocked
########################################
IPFW_wan4_out_dstports=""
IPFW_wan4_out_dstports="${IPFW_wan4_out_dstports} 69"    # TFTP
IPFW_wan4_out_dstports="${IPFW_wan4_out_dstports} 70"    # Gopher
IPFW_wan4_out_dstports="${IPFW_wan4_out_dstports} 67 68" # DHCP
IPFW_wan4_out_dstports="${IPFW_wan4_out_dstports} 546 547" # DHCPv6
#IPFW_wan4_out_dstports="${IPFW_wan4_out_dstports} 520 521" # RIP, RIPng
IPFW_wan4_out_dstports="${IPFW_wan4_out_dstports} 135"   # RPC
#IPFW_wan4_out_dstports="${IPFW_wan4_out_dstports} 137 138 139 445" # Samba
IPFW_wan4_out_dstports="${IPFW_wan4_out_dstports} 5353"  # mDNS
IPFW_wan6_out_dstports="${IPFW_wan4_out_dstports}"

########################################
# WAN OUT dstport allowed
########################################
IPFW_wan4_out_allowed_udp=""
#IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 67 68" # DHCP
#IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 546 547" # DHCPv6
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 53 853 953" # DNS
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 113"   # Ident
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 123"   # NTP
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 161 162" # SNMP
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 443"   # Google SPDY
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 554"   # RTSP
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 1194"  # OpenVPN
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 1723"  # PPTP
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 500 4500 1701" # L2TP/IPSec
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 4021"  # DSC Alarm
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 5001 5201" # iPerf
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 5060 5061" # SIP/VoIP
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 40001-40046" # MS Windows Update
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 40126-40128" # Radiomed/Dicom
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 10001" # Ubiquiti Dicovery
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 3478 5514" # Ubiquiti Remote Site
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 17500" # Dropbox
IPFW_wan4_out_allowed_udp="${IPFW_wan4_out_allowed_udp} 1900" # UPnP
IPFW_wan6_out_allowed_udp="${IPFW_wan4_out_allowed_udp}"
IPFW_wan4_out_allowed_tcp=""
#IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 546 547" # DHCPv6
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 20 21 990" # FTP, FTPS
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 22 33322 48822" # SSH
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 23"    # Telnet
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 25 587 465" # SMTP
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 110 995" # POP3
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 143 993" # IMAPS
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 113"   # Ident
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 53 853 953" # DNS
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 80 443 81 8080 8443 8880 8843 33380 48880 48888" # WEB
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 137 138 139 445"   # Samba
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 554"   # RTSP
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 873 33873 874 875" # Rsync
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 1194"  # OpenVPN
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 1723"  # PPTP
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 500 4500 1701" # L2TP/IPSec
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 1688"  # MS Activation
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 1883 8883" # MQTT
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 3306 3307" # MySQL, MariaDB
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 5432"  # PgSQL
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 1433"  # MSSQL
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 8086"  # InfluxDB
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 3389 43389-43402" # RDP
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 3478"  # STUN
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 4244 5242"     # Viber
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 4949-4952"     # Munin
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 5001 5201" # iPerf
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 5060 5061" # SIP/VoIP
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 5190"  # ICQ/Oscar
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 5222 5223 5228" # GooglePlay/Apple
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 5900 5901" # VNC
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 5938"  # TeamViewer
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 8291 8292" # Mikrotik WinBox
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 7275 7276"  # A-GPS
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 9443"  # Blynk
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 40001-40046" # MS Windows Update
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 40126-40128" # Radiomed/Dicom
IPFW_wan4_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp} 10050 10051 10052" # Zabbix
IPFW_wan6_out_allowed_tcp="${IPFW_wan4_out_allowed_tcp}"

########################################
# WAN OUT dst protocols allowed
########################################
IPFW_wan4_out_allowed_proto=""
IPFW_wan4_out_allowed_proto="${IPFW_wan4_out_allowed_proto} gre"    # GRE / PPTP
IPFW_wan4_out_allowed_proto="${IPFW_wan4_out_allowed_proto} l2tp"   # L2TP
IPFW_wan4_out_allowed_proto="${IPFW_wan4_out_allowed_proto} esp ah" # IPSec
IPFW_wan6_out_allowed_proto=""

###################################
# WAN IN services allowed
###################################
PROTOPORT=""; # port numbers (53) (80,443) (110 143) (NONE)
PROTOCOL=""; # protocol (TCP, UDP, ALL)
PROTOLOG=""; # to log or not to log (0/1)
PROTOIP4=""; # applies to this IP table (NONE/any/LOCALHOST/TRUSTED/<table name>)
PROTOIP6=""; # applies to this IP table (NONE/any/LOCALHOST6/TRUSTED6/<table name>)
PROTOACTION=""; # action (allow/deny)
# DHCP
IPFW_DHCP="1"
#PROTOPORT="${PROTOPORT} 67,68"
#PROTOCOL="${PROTOCOL} UDP"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} any"
#PROTOIP6="${PROTOIP6} NONE"
#PROTOACTION="${PROTOACTION} deny"
#PROTOPORT="${PROTOPORT} 546,547"
#PROTOCOL="${PROTOCOL} UDP"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} NONE"
#PROTOIP6="${PROTOIP6} any"
#PROTOACTION="${PROTOACTION} deny"
## DNS
#PROTOPORT="${PROTOPORT} 53"
#PROTOCOL="${PROTOCOL} ALL"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} TRUSTED"
#PROTOIP6="${PROTOIP6} TRUSTED6"
#PROTOACTION="${PROTOACTION} deny"
#PROTOPORT="${PROTOPORT} 853,953"
#PROTOCOL="${PROTOCOL} ALL"
#PROTOLOG="${PROTOLOG} 1"
#PROTOIP4="${PROTOIP4} TRUSTED"
#PROTOIP6="${PROTOIP6} TRUSTED6"
#PROTOACTION="${PROTOACTION} deny"
#PROTOPORT="${PROTOPORT} 5353,5355"
#PROTOCOL="${PROTOCOL} UDP"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} any"
#PROTOIP6="${PROTOIP6} any"
#PROTOACTION="${PROTOACTION} deny"
## NTP
#PROTOPORT="${PROTOPORT} 123"
#PROTOCOL="${PROTOCOL} UDP"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} any"
#PROTOIP6="${PROTOIP6} any"
#PROTOACTION="${PROTOACTION} deny"
# IDENT
PROTOPORT="${PROTOPORT} 113"
PROTOCOL="${PROTOCOL} ALL"
PROTOLOG="${PROTOLOG} 0"
PROTOIP4="${PROTOIP4} TRUSTED"
PROTOIP6="${PROTOIP6} TRUSTED6"
PROTOACTION="${PROTOACTION} allow"
# SSH
PROTOPORT="${PROTOPORT} 33322,48822"
PROTOCOL="${PROTOCOL} TCP"
PROTOLOG="${PROTOLOG} 0"
PROTOIP4="${PROTOIP4} TRUSTED"
PROTOIP6="${PROTOIP6} TRUSTED6"
PROTOACTION="${PROTOACTION} allow"
## TELNET
#PROTOPORT="${PROTOPORT} 23"
#PROTOCOL="${PROTOCOL} TCP"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} any"
#PROTOIP6="${PROTOIP6} any"
#PROTOACTION="${PROTOACTION} deny"
## SMTP
#PROTOPORT="${PROTOPORT} 25,465,587"
#PROTOCOL="${PROTOCOL} TCP"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} any"
#PROTOIP6="${PROTOIP6} any"
#PROTOACTION="${PROTOACTION} deny"
## POP3, POP3S
#PROTOPORT="${PROTOPORT} 110,995"
#PROTOCOL="${PROTOCOL} TCP"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} any"
#PROTOIP6="${PROTOIP6} any"
#PROTOACTION="${PROTOACTION} deny"
## IMAP, IMAPS
#PROTOPORT="${PROTOPORT} 143,993"
#PROTOCOL="${PROTOCOL} TCP"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} any"
#PROTOIP6="${PROTOIP6} any"
#PROTOACTION="${PROTOACTION} deny"
# WEB
PROTOPORT="${PROTOPORT} 48880,48888"
PROTOCOL="${PROTOCOL} TCP"
PROTOLOG="${PROTOLOG} 0"
PROTOIP4="${PROTOIP4} any"
PROTOIP6="${PROTOIP6} any"
PROTOACTION="${PROTOACTION} allow"
#PROTOPORT="${PROTOPORT} 443"
#PROTOCOL="${PROTOCOL} ALL"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} any"
#PROTOIP6="${PROTOIP6} any"
#PROTOACTION="${PROTOACTION} deny"
## MySQL
#PROTOPORT="${PROTOPORT} 3306,3307"
#PROTOCOL="${PROTOCOL} TCP"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} TRUSTED"
#PROTOIP6="${PROTOIP6} TRUSTED6"
#PROTOACTION="${PROTOACTION} deny"
## FTP
#PROTOPORT="${PROTOPORT} 20,21"
#PROTOCOL="${PROTOCOL} ALL"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} TRUSTED"
#PROTOIP6="${PROTOIP6} TRUSTED6"
#PROTOACTION="${PROTOACTION} allow"
## TFTP
#PROTOPORT="${PROTOPORT} 69"
#PROTOCOL="${PROTOCOL} UDP"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} any"
#PROTOIP6="${PROTOIP6} any"
#PROTOACTION="${PROTOACTION} deny"
## SNMP
#PROTOPORT="${PROTOPORT} 161"
#PROTOCOL="${PROTOCOL} UDP"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} TRUSTED"
#PROTOIP6="${PROTOIP6} TRUSTED6"
#PROTOACTION="${PROTOACTION} deny"
# RSYNC
PROTOPORT="${PROTOPORT} 873"
PROTOCOL="${PROTOCOL} TCP"
PROTOLOG="${PROTOLOG} 0"
PROTOIP4="${PROTOIP4} TRUSTED"
PROTOIP6="${PROTOIP6} TRUSTED6"
PROTOACTION="${PROTOACTION} allow"
## DSCALARM
#PROTOPORT="${PROTOPORT} 4021,4025"
#PROTOCOL="${PROTOCOL} TCP"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} any"
#PROTOIP6="${PROTOIP6} any"
#PROTOACTION="${PROTOACTION} deny"
# VPN
PROTOPORT="${PROTOPORT} 41194"
PROTOCOL="${PROTOCOL} ALL"
PROTOLOG="${PROTOLOG} 0"
PROTOIP4="${PROTOIP4} any"
PROTOIP6="${PROTOIP6} NONE"
PROTOACTION="${PROTOACTION} allow"
#PROTOPORT="${PROTOPORT} 1701,500,4500"
#PROTOCOL="${PROTOCOL} ALL"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} any"
#PROTOIP6="${PROTOIP6} NONE"
#PROTOACTION="${PROTOACTION} deny"
#PROTOPORT="${PROTOPORT} 1723"
#PROTOCOL="${PROTOCOL} ALL"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} any"
#PROTOIP6="${PROTOIP6} NONE"
#PROTOACTION="${PROTOACTION} deny"
# RDP
PROTOPORT="${PROTOPORT} 43389-43402"
PROTOCOL="${PROTOCOL} TCP"
PROTOLOG="${PROTOLOG} 0"
PROTOIP4="${PROTOIP4} any"
PROTOIP6="${PROTOIP6} any"
#PROTOIP4="${PROTOIP4} TRUSTED"
#PROTOIP6="${PROTOIP6} TRUSTED6"
PROTOACTION="${PROTOACTION} allow"
## MUNIN
#PROTOPORT="${PROTOPORT} 4949"
#PROTOCOL="${PROTOCOL} TCP"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} TRUSTED"
#PROTOIP6="${PROTOIP6} TRUSTED6"
#PROTOACTION="${PROTOACTION} allow"
# ZABBIX
PROTOPORT="${PROTOPORT} 10050,10051,10052"
PROTOCOL="${PROTOCOL} TCP"
PROTOLOG="${PROTOLOG} 0"
PROTOIP4="${PROTOIP4} TRUSTED"
PROTOIP6="${PROTOIP6} TRUSTED6"
PROTOACTION="${PROTOACTION} allow"
## SAMBA
#PROTOPORT="${PROTOPORT} 137,138,139,445"
#PROTOCOL="${PROTOCOL} ALL"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} TRUSTED"
#PROTOIP6="${PROTOIP6} TRUSTED6"
#PROTOACTION="${PROTOACTION} allow"
## NUT
#PROTOPORT="${PROTOPORT} 3493"
#PROTOCOL="${PROTOCOL} TCP"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} any"
#PROTOIP6="${PROTOIP6} any"
#PROTOACTION="${PROTOACTION} allow"
## SIP
#PROTOPORT="${PROTOPORT} 5060,5061"
#PROTOCOL="${PROTOCOL} ALL"
#PROTOLOG="${PROTOLOG} 0"
#PROTOIP4="${PROTOIP4} any"
#PROTOIP6="${PROTOIP6} any"
#PROTOACTION="${PROTOACTION} deny"
## MQTT
#PROTOPORT="${PROTOPORT} 1883,8883"
#PROTOCOL="${PROTOCOL} TCP"
#PROTOLOG="${PROTOLOG} 1"
#PROTOIP4="${PROTOIP4} TRUSTED"
#PROTOIP6="${PROTOIP6} TRUSTED6"
#PROTOACTION="${PROTOACTION} allow"
# UNIFI (Remote sites)
PROTOPORT="${PROTOPORT} 6789,8080,8443,8880,8843"
PROTOCOL="${PROTOCOL} TCP"
PROTOLOG="${PROTOLOG} 0"
PROTOIP4="${PROTOIP4} TRUSTED"
PROTOIP6="${PROTOIP6} TRUSTED6"
PROTOACTION="${PROTOACTION} allow"
PROTOPORT="${PROTOPORT} 3478,5514"
PROTOCOL="${PROTOCOL} UDP"
PROTOLOG="${PROTOLOG} 0"
PROTOIP4="${PROTOIP4} TRUSTED"
PROTOIP6="${PROTOIP6} TRUSTED6"
PROTOACTION="${PROTOACTION} allow"
# iPerf
PROTOPORT="${PROTOPORT} 5001,5201"
PROTOCOL="${PROTOCOL} TCP"
PROTOLOG="${PROTOLOG} 0"
PROTOIP4="${PROTOIP4} TRUSTED"
PROTOIP6="${PROTOIP6} TRUSTED6"
PROTOACTION="${PROTOACTION} allow"



case ${firewall_quiet} in
[Yy][Ee][Ss])
        fwcmd="/sbin/ipfw -q"
        ;;
*)
        fwcmd="/sbin/ipfw"
        ;;
esac


###########################
# Global (mandatory) tables
###########################

# Blocked ranges on WAN interfaces
${fwcmd} -q table BLOCKED_RANGES create > /dev/null 2> /dev/null
${fwcmd} -q table BLOCKED_RANGES flush
#${fwcmd} -q table BLOCKED_RANGES add 192.168.0.0/16
#${fwcmd} -q table BLOCKED_RANGES add 172.16.0.0/12
#${fwcmd} -q table BLOCKED_RANGES add 10.0.0.0/8
${fwcmd} -q table BLOCKED_RANGES add 0.0.0.0/8
${fwcmd} -q table BLOCKED_RANGES add 100.64.0.0/10   # Shared
${fwcmd} -q table BLOCKED_RANGES add 169.254.0.0/16  # APIPA
${fwcmd} -q table BLOCKED_RANGES add 192.0.0.0/24    # IANA IPv4
${fwcmd} -q table BLOCKED_RANGES add 192.0.2.0/24    # TEST-NET-1
${fwcmd} -q table BLOCKED_RANGES add 192.88.99.0/24  # 6-to-4
${fwcmd} -q table BLOCKED_RANGES add 198.18.0.0/15   # Benchmark
${fwcmd} -q table BLOCKED_RANGES add 198.51.100.0/24 # TEST-NET-2
${fwcmd} -q table BLOCKED_RANGES add 203.0.113.0/24  # TEST-NET-3
#${fwcmd} -q table BLOCKED_RANGES add 224.0.0.0/4
${fwcmd} -q table BLOCKED_RANGES add 224.0.0.0/24
${fwcmd} -q table BLOCKED_RANGES add 240.0.0.0/4
if [ $ipv6_available -eq 0 ]; then
 ${fwcmd} -q table BLOCKED_RANGES6 create > /dev/null 2> /dev/null
 ${fwcmd} -q table BLOCKED_RANGES6 flush
# ${fwcmd} -q table BLOCKED_RANGES6 add fe80::/10
# ${fwcmd} -q table BLOCKED_RANGES6 add fec0::/10
# ${fwcmd} -q table BLOCKED_RANGES6 add ff02::/16
# ${fwcmd} -q table BLOCKED_RANGES6 add ff03::/16
# ${fwcmd} -q table BLOCKED_RANGES6 add ff05::/16
# ${fwcmd} -q table BLOCKED_RANGES6 add 2001:0:c0a8::/48
 ${fwcmd} -q table BLOCKED_RANGES6 add 2001:0:ac10::/44
# ${fwcmd} -q table BLOCKED_RANGES6 add 2001:0:a00::/40
 ${fwcmd} -q table BLOCKED_RANGES6 add 2001::/40
 ${fwcmd} -q table BLOCKED_RANGES6 add 2001:0:a9fe::/48
 ${fwcmd} -q table BLOCKED_RANGES6 add 2001:0:c000:200::/56
# ${fwcmd} -q table BLOCKED_RANGES6 add 2001:0:e000::/36
 ${fwcmd} -q table BLOCKED_RANGES6 add 2001:0:e000::/56
 ${fwcmd} -q table BLOCKED_RANGES6 add 2001:0:f000::/36
fi

# LAN allowed ranges
${fwcmd} -q table LOCAL_RANGES create > /dev/null 2> /dev/null
${fwcmd} -q table LOCAL_RANGES flush
if [ -n "${IPFW_iip}" ]; then
 ${fwcmd} -q table LOCAL_RANGES add ${IPFW_iip}/32
fi
if [ -n "${IPFW_iip2}" ]; then
 ${fwcmd} -q table LOCAL_RANGES add ${IPFW_iip2}/32
fi
if [ -n "${IPFW_iip3}" ]; then
 ${fwcmd} -q table LOCAL_RANGES add ${IPFW_iip3}/32
fi
if [ -n "${IPFW_inet}" ]; then
 ${fwcmd} -q table LOCAL_RANGES add ${IPFW_inet}
fi
if [ -n "${IPFW_inet2}" ]; then
 ${fwcmd} -q table LOCAL_RANGES add ${IPFW_inet2}
fi
if [ -n "${IPFW_inet3}" ]; then
 ${fwcmd} -q table LOCAL_RANGES add ${IPFW_inet3}
fi
if [ $ipv6_available -eq 0 ]; then
 ${fwcmd} -q table LOCAL_RANGES6 create > /dev/null 2> /dev/null
 ${fwcmd} -q table LOCAL_RANGES6 flush
 if [ -n "${IPFW_iip_6}" ]; then
  ${fwcmd} -q table LOCAL_RANGES6 add ${IPFW_iip_6}/128
 fi
 if [ -n "${IPFW_iip2_6}" ]; then
  ${fwcmd} -q table LOCAL_RANGES6 add ${IPFW_iip2_6}/128
 fi
 if [ -n "${IPFW_iip3_6}" ]; then
  ${fwcmd} -q table LOCAL_RANGES6 add ${IPFW_iip3_6}/128
 fi
 if [ -n "${IPFW_inet_6}" ]; then
  ${fwcmd} -q table LOCAL_RANGES6 add ${IPFW_inet_6}
 fi
 if [ -n "${IPFW_inet2_6}" ]; then
  ${fwcmd} -q table LOCAL_RANGES6 add ${IPFW_inet2_6}
 fi
 if [ -n "${IPFW_inet3_6}" ]; then
  ${fwcmd} -q table LOCAL_RANGES6 add ${IPFW_inet3_6}
 fi
fi

# WAN out allowed ranges
${fwcmd} -q table OUT_RANGES create > /dev/null 2> /dev/null
${fwcmd} -q table OUT_RANGES flush
if [ -n "${IPFW_iip}" ]; then
 ${fwcmd} -q table OUT_RANGES add ${IPFW_iip}/32
fi
if [ -n "${IPFW_iip2}" ]; then
 ${fwcmd} -q table OUT_RANGES add ${IPFW_iip2}/32
fi
if [ -n "${IPFW_iip3}" ]; then
 ${fwcmd} -q table OUT_RANGES add ${IPFW_iip3}/32
fi
if [ -n "${IPFW_inet}" ]; then
 ${fwcmd} -q table OUT_RANGES add ${IPFW_inet}
fi
if [ -n "${IPFW_inet2}" ]; then
 ${fwcmd} -q table OUT_RANGES add ${IPFW_inet2}
fi
if [ -n "${IPFW_inet3}" ]; then
 ${fwcmd} -q table OUT_RANGES add ${IPFW_inet3}
fi
if [ -n "${IPFW_oip}" ]; then
 ${fwcmd} -q table OUT_RANGES add ${IPFW_oip}/32
fi
if [ -n "${IPFW_oip2}" ]; then
 ${fwcmd} -q table OUT_RANGES add ${IPFW_oip2}/32
fi
if [ -n "${IPFW_oip3}" ]; then
 ${fwcmd} -q table OUT_RANGES add ${IPFW_oip3}/32
fi
if [ -n "${IPFW_onet}" ]; then
 ${fwcmd} -q table OUT_RANGES add ${IPFW_onet}
fi
if [ -n "${IPFW_onet2}" ]; then
 ${fwcmd} -q table OUT_RANGES add ${IPFW_onet2}
fi
if [ -n "${IPFW_onet3}" ]; then
 ${fwcmd} -q table OUT_RANGES add ${IPFW_onet3}
fi
${fwcmd} -q table OUT_RANGES6 create > /dev/null 2> /dev/null
${fwcmd} -q table OUT_RANGES6 flush
if [ -n "${IPFW_iip_6}" ]; then
 ${fwcmd} -q table OUT_RANGES6 add ${IPFW_iip_6}/128
fi
if [ -n "${IPFW_iip2_6}" ]; then
 ${fwcmd} -q table OUT_RANGES6 add ${IPFW_iip2_6}/128
fi
if [ -n "${IPFW_iip3_6}" ]; then
 ${fwcmd} -q table OUT_RANGES6 add ${IPFW_iip3_6}/128
fi
if [ -n "${IPFW_inet_6}" ]; then
 ${fwcmd} -q table OUT_RANGES6 add ${IPFW_inet_6}
fi
if [ -n "${IPFW_inet2_6}" ]; then
 ${fwcmd} -q table OUT_RANGES6 add ${IPFW_inet2_6}
fi
if [ -n "${IPFW_inet3_6}" ]; then
 ${fwcmd} -q table OUT_RANGES6 add ${IPFW_inet3_6}
fi
if [ -n "${IPFW_oip_6}" ]; then
 ${fwcmd} -q table OUT_RANGES6 add ${IPFW_oip_6}/128
fi
if [ -n "${IPFW_oip2_6}" ]; then
 ${fwcmd} -q table OUT_RANGES6 add ${IPFW_oip2_6}/128
fi
if [ -n "${IPFW_oip3_6}" ]; then
 ${fwcmd} -q table OUT_RANGES6 add ${IPFW_oip3_6}/128
fi
if [ -n "${IPFW_onet_6}" ]; then
 ${fwcmd} -q table OUT_RANGES6 add ${IPFW_onet_6}
fi
if [ -n "${IPFW_onet2_6}" ]; then
 ${fwcmd} -q table OUT_RANGES6 add ${IPFW_onet2_6}
fi
if [ -n "${IPFW_onet3_6}" ]; then
 ${fwcmd} -q table OUT_RANGES6 add ${IPFW_onet3_6}
fi

# WAN out allowed ranges
if [ -n "${IPFW_oip}" ]; then
 ${fwcmd} -q table OUT_WAN1 create > /dev/null 2> /dev/null
 ${fwcmd} -q table OUT_WAN1 flush
 ${fwcmd} -q table OUT_WAN1 add ${IPFW_oip}/32
 ${fwcmd} -q table OUT_WAN1 add ${IPFW_onet}
fi
if [ -n "${IPFW_oip2}" ]; then
 ${fwcmd} -q table OUT_WAN2 create > /dev/null 2> /dev/null
 ${fwcmd} -q table OUT_WAN2 flush
 ${fwcmd} -q table OUT_WAN2 add ${IPFW_oip2}/32
 ${fwcmd} -q table OUT_WAN2 add ${IPFW_onet2}
fi
if [ -n "${IPFW_oip3}" ]; then
 ${fwcmd} -q table OUT_WAN3 create > /dev/null 2> /dev/null
 ${fwcmd} -q table OUT_WAN3 flush
 ${fwcmd} -q table OUT_WAN3 add ${IPFW_oip3}/32
 ${fwcmd} -q table OUT_WAN3 add ${IPFW_onet3}
fi
if [ -n "${IPFW_iip}" ]; then
 ${fwcmd} -q table OUT_LAN1 create > /dev/null 2> /dev/null
 ${fwcmd} -q table OUT_LAN1 flush
 ${fwcmd} -q table OUT_LAN1 add ${IPFW_iip}/32
 ${fwcmd} -q table OUT_LAN1 add ${IPFW_inet}
fi
if [ -n "${IPFW_iip2}" ]; then
 ${fwcmd} -q table OUT_LAN2 create > /dev/null 2> /dev/null
 ${fwcmd} -q table OUT_LAN2 flush
 ${fwcmd} -q table OUT_LAN2 add ${IPFW_iip2}/32
 ${fwcmd} -q table OUT_LAN2 add ${IPFW_inet2}
fi
if [ -n "${IPFW_iip3}" ]; then
 ${fwcmd} -q table OUT_LAN3 create > /dev/null 2> /dev/null
 ${fwcmd} -q table OUT_LAN3 flush
 ${fwcmd} -q table OUT_LAN3 add ${IPFW_iip3}/32
 ${fwcmd} -q table OUT_LAN3 add ${IPFW_inet3}
fi
if [ -n "${IPFW_oip_6}" ]; then
 ${fwcmd} -q table OUT_WAN1_6 create > /dev/null 2> /dev/null
 ${fwcmd} -q table OUT_WAN1_6 flush
 ${fwcmd} -q table OUT_WAN1_6 add ${IPFW_oip_6}/128
 ${fwcmd} -q table OUT_WAN1_6 add ${IPFW_onet_6}
fi
if [ -n "${IPFW_oip2_6}" ]; then
 ${fwcmd} -q table OUT_WAN2_6 create > /dev/null 2> /dev/null
 ${fwcmd} -q table OUT_WAN2_6 flush
 ${fwcmd} -q table OUT_WAN2_6 add ${IPFW_oip2_6}/128
 ${fwcmd} -q table OUT_WAN2_6 add ${IPFW_onet2_6}
fi
if [ -n "${IPFW_oip3_6}" ]; then
 ${fwcmd} -q table OUT_WAN3_6 create > /dev/null 2> /dev/null
 ${fwcmd} -q table OUT_WAN3_6 flush
 ${fwcmd} -q table OUT_WAN3_6 add ${IPFW_oip3_6}/128
 ${fwcmd} -q table OUT_WAN3_6 add ${IPFW_onet3_6}
fi
if [ -n "${IPFW_iip_6}" ]; then
 ${fwcmd} -q table OUT_LAN1_6 create > /dev/null 2> /dev/null
 ${fwcmd} -q table OUT_LAN1_6 flush
 ${fwcmd} -q table OUT_LAN1_6 add ${IPFW_iip_6}/128
 ${fwcmd} -q table OUT_LAN1_6 add ${IPFW_inet_6}
fi
if [ -n "${IPFW_iip2_6}" ]; then
 ${fwcmd} -q table OUT_LAN2_6 create > /dev/null 2> /dev/null
 ${fwcmd} -q table OUT_LAN2_6 flush
 ${fwcmd} -q table OUT_LAN2_6 add ${IPFW_iip2_6}/128
 ${fwcmd} -q table OUT_LAN2_6 add ${IPFW_inet2_6}
fi
if [ -n "${IPFW_iip3_6}" ]; then
 ${fwcmd} -q table OUT_LAN3_6 create > /dev/null 2> /dev/null
 ${fwcmd} -q table OUT_LAN3_6 flush
 ${fwcmd} -q table OUT_LAN3_6 add ${IPFW_iip3_6}/128
 ${fwcmd} -q table OUT_LAN3_6 add ${IPFW_inet3_6}
fi

${fwcmd} -q table LOCALHOST create > /dev/null 2> /dev/null
${fwcmd} -q table LOCALHOST flush
${fwcmd} -q table LOCALHOST add 127.0.0.1/32
${fwcmd} -q table LOCALHOST6 create > /dev/null 2> /dev/null
${fwcmd} -q table LOCALHOST6 flush
${fwcmd} -q table LOCALHOST6 add ::1/128

${fwcmd} -q table PRIVATE create > /dev/null 2> /dev/null
${fwcmd} -q table PRIVATE flush
${fwcmd} -q table PRIVATE add 192.168.0.0/16
${fwcmd} -q table PRIVATE add 10.0.0.0/8
${fwcmd} -q table PRIVATE add 172.16.0.0/12

${fwcmd} -q table TRUSTED create > /dev/null 2> /dev/null
${fwcmd} -q table TRUSTED flush
${fwcmd} -q table TRUSTED add 192.168.0.0/16
${fwcmd} -q table TRUSTED add 172.16.0.0/12
${fwcmd} -q table TRUSTED add 10.0.0.0/8
${fwcmd} -q table TRUSTED6 create > /dev/null 2> /dev/null
${fwcmd} -q table TRUSTED6 flush

${fwcmd} -q table WAN1 create > /dev/null 2> /dev/null
${fwcmd} -q table WAN1 flush

${fwcmd} -q table WAN2 create > /dev/null 2> /dev/null
${fwcmd} -q table WAN2 flush

${fwcmd} -q table WAN3 create > /dev/null 2> /dev/null
${fwcmd} -q table WAN3 flush

#########################
# Local (optional) tables
#########################

${fwcmd} -q table GUESTS create
${fwcmd} -q table GUESTS flush


${fwcmd} -q table IOTS create
${fwcmd} -q table IOTS flush


${fwcmd} -q table CAMS create
${fwcmd} -q table CAMS flush

############################
#
############################

IPFW_known_ports=""
IPFW_known_ports="${IPFW_known_ports} 20 21 22 23 25 53 67 68 69 80 81 88 110 111 113 123 135 137 138 139 143 161"
IPFW_known_ports="${IPFW_known_ports} 443 445 465 521 546 547 554 587 777 853 873 953 990 993 995"
IPFW_known_ports="${IPFW_known_ports} 1080 1194 1433 1434 1723 1883 1900 3306 3307 3333 3389 3478 4021 4025"
IPFW_known_ports="${IPFW_known_ports} 5000 5001 5060 5061 5201 5190 5222 5223 5228 5432 5514 5678 5900 5901 6789 7275 7276 7777"
IPFW_known_ports="${IPFW_known_ports} 8000 8080 8081 8086 8090 8181 8291 8292 8443 8843 8880 8883 8888 9000 9090 9100 9443"
IPFW_known_ports="${IPFW_known_ports} 10001 10050 10051 10052"
IPFW_known_ports="${IPFW_known_ports} 33322 40126-40128 48822"


fi
